*,
p {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #8395a7;
  z-index: -1;
  overflow: hidden;
}

.content {
  width: 500px;
  height: auto;
  background-color: #c8d6e5;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  z-index: 0;
  overflow-y: scroll;
}

.header,
.news-item-footer {
  display: flex;
}

.title-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  padding: 20px;
  color: white;
  font-weight: bold;
}

.add-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  padding: 20px;
}

.add-button-container i {
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.news-container {
  display: flex;
  flex-direction: column-reverse;
  padding: 10px;
}

.news-item {
  display: flex;
  flex-direction: column;
  background-color: #e8edf1;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  word-break: break-all;
  color: #8395a7;
  position: relative;
}

.delete-button {
  position: absolute;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 15px;
  border-radius: 5px;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: #8395a7;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  display: none;
}

.news-item:hover .delete-button {
  display: flex;
}

.news-item-title-container p {
  font-weight: bold;
}

.news-item-author-container {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.news-item-date-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.form-container-wrapper {
  padding: 10px;
}

.form-container {
  padding: 10px;
  background-color: #e8edf1;
  border-radius: 5px;
  color: #8395a7;
  font-weight: bold;
}

.form-control {
  border: none;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
